<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="zookeeper-dubbo-provider"/>
	
	<bean id="someService" class="com.learningcenter.zookeeper.provider.SomeServiceImpl"/>

	<!--声明zk服务中心-->
	<dubbo:registry address="zookeeper://localhost:2181" />
	<!--<dubbo:registry protocol="zookeeper" address="localhost:2181"/>-->

	<!--暴露服务，会将服务注册到上面的zk服务中心-->
	<dubbo:service interface="com.learningcenter.api.SomeService" ref="someService" />
</beans>